$font-family: (
    "primary": "Space Mono",
    "secondary": sans-serif,
);
$font-weight: (
    "regular": 400,
    "bold": 700,
);
$font-size: (
    "infoBubble": 0.875rem,
    "paragraph": 1rem,
    "title": 1.25rem,
);
