@import "./base/_variables.colors.scss";
@import "./base/variables.font.scss";
@import "./base/mixins.font.scss";
@import "./normalize.scss";

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: map-get($colour, "primary");
}
